---
import PageLayout from "../../../../layouts/page-layout.astro";
import { client } from "../../../../lib/client";

export async function getStaticPaths() {
  const latest = "16.0";

  const { data: groups, error } = await client.GET("/api/v1/categories/{version}", {
    params: {
      path: {
        version: latest,
      },
    },
  });

  if (error != null) {
    throw new Error(`failed to fetch emoji groups: ${error}`);
  }

  const paths = [];

  for (const group of groups) {
    for (const subgroup of group.subgroups) {
      paths.push({
        params: {
          category: group.slug,
          subcategory: subgroup,
        },
        props: {
          version: latest,
          category: group,
          subgroup,
        },
      });
    }
  }

  return paths;
}

const { version, category, subgroup } = Astro.props;
---

<PageLayout>
  <h1>Version: {version}</h1>
  <h2>Category: {JSON.stringify(category)}</h2>
  <h3>Subgroup: {JSON.stringify(subgroup)}</h3>
</PageLayout>
