---
import PageLayout from "../../../../layouts/page-layout.astro";

export async function getStaticPaths() {
  // TODO: fetch latest in a different way
  const latest = "16.0";
  // TODO: switch to main when ready
  const branch = "dump";

  const res = await fetch(`https://raw.githubusercontent.com/mojisdev/emoji-data/refs/heads/${branch}/data/v${latest}/groups.json`);

  if (!res.ok) {
    throw new Error(`Failed to fetch emoji groups: ${res.statusText}`);
  }

  const groups = await res.json();

  const paths = [];

  for (const group of groups) {
    for (const subgroup of group.subgroups) {
      paths.push({
        params: {
          category: group.slug,
          subcategory: subgroup,
        },
        props: {
          version: latest,
          category: group,
          subgroup,
        },
      });
    }
  }

  return paths;
}

const { version, category, subgroup } = Astro.props;
---

<PageLayout>
  <h1>Version: {version}</h1>
  <h2>Category: {JSON.stringify(category)}</h2>
  <h3>Subgroup: {JSON.stringify(subgroup)}</h3>
</PageLayout>
