---
import PageLayout from "../../../layouts/page-layout.astro";
import { client } from "../../../lib/client";

export const prerender = true;

export async function getStaticPaths() {
  const { data: version, error: versionError } = await client.GET("/api/v1/versions/latest");

  if (versionError != null) {
    throw new Error(`failed to fetch versions: ${versionError}`);
  }

  const paths = [];

  const { data: groups, error } = await client.GET("/api/v1/categories/{version}", {
    params: {
      path: {
        version: version.emoji_version!,
      },
    },
  });

  if (error != null) {
    throw new Error(`failed to fetch emoji groups: ${versionError}`);
  }

  for (const group of groups) {
    paths.push({
      params: {
        category: group.slug,
      },
      props: {
        version: version.emoji_version,
        category: group,
      },
    });
  }

  return paths;
}

const { version, category } = Astro.props;
---

<PageLayout>
  <h1>Version: {version}</h1>
  <h2>Category Name: {category.name}</h2>
  <h3>Subgroups</h3>
  <ul>
    {
      category.subgroups.map((subgroup: any) => (
        <li>
          <a href={`/${version}/categories/${category.slug}/${subgroup}`}>{subgroup}</a>
        </li>
      ))
    }
  </ul>
</PageLayout>
