---
import PageLayout from "../../layouts/page-layout.astro";
import { API_URL } from "astro:env/client"
import { client } from "../../lib/client";

// TODO: fetch latest in a different way
const latest = "16.0";


const { data: groups, error } = await client.GET("/api/v1/categories/{version}", {
	params: {
		path: {
			version: latest
		}
	}
})

if (error != null) {
	throw new Error(`failed to fetch emoji groups: ${error}`);
}
---

<PageLayout>
  <h1>Version: {latest}</h1>

	<h2>Categories</h2>
	<ul>
		{groups.map((group) => (
			<li>
				<a href={`/categories/${group.slug}`}>{group.name}</a>
			</li>
		))}
	</ul>
</PageLayout>
